In [3]:
%matplotlib inline
import numpy as np
import pandas as pd
import random

import matplotlib
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.dummy import DummyRegressor
#import preprocessing, metrics, cross_validation
from sklearn import load_boston

ImportError: cannot import name load_boston

In [5]:
from sklearn.datasets import load_boston

In [6]:
boston = load_boston()

In [8]:
boston_df = pd.DataFrame(boston.data, columns=boston.feature_names)

In [10]:
boston_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [11]:
from sklearn.preprocessing import StandardScaler, maxabs_scale

In [12]:
ss_scaler = StandardScaler()
bos_scaled = ss_scaler.fit_transform(boston_df)

In [15]:
bos_scaled
# This is done to scale the differences of each column to make them all standard

array([[-0.41771335,  0.28482986, -1.2879095 , ..., -1.45900038,
         0.44105193, -1.0755623 ],
       [-0.41526932, -0.48772236, -0.59338101, ..., -0.30309415,
         0.44105193, -0.49243937],
       [-0.41527165, -0.48772236, -0.59338101, ..., -0.30309415,
         0.39642699, -1.2087274 ],
       ...,
       [-0.41137448, -0.48772236,  0.11573841, ...,  1.17646583,
         0.44105193, -0.98304761],
       [-0.40568883, -0.48772236,  0.11573841, ...,  1.17646583,
         0.4032249 , -0.86530163],
       [-0.41292893, -0.48772236,  0.11573841, ...,  1.17646583,
         0.44105193, -0.66905833]])

In [17]:
#Turning np array into a dataframe
bos_scaled = pd.DataFrame(bos_scaled, columns=boston.feature_names)

In [18]:
## Instanciate the regressor

In [19]:
ridge = Ridge()

In [20]:
ridge

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [33]:
boston_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
CRIM       506 non-null float64
ZN         506 non-null float64
INDUS      506 non-null float64
CHAS       506 non-null float64
NOX        506 non-null float64
RM         506 non-null float64
AGE        506 non-null float64
DIS        506 non-null float64
RAD        506 non-null float64
TAX        506 non-null float64
PTRATIO    506 non-null float64
B          506 non-null float64
LSTAT      506 non-null float64
dtypes: float64(13)
memory usage: 51.5 KB

In [25]:
lr = LinearRegression()

In [31]:
featured_cols = [['ZN']]
X = featured_cols
y = ['TAX']

In [34]:
lr.fit(boston_df[['AGE']],boston_df['TAX'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [37]:
lr.intercept_

200.29559886325592

In [36]:
lr.coef_

array([3.03232745])

In [39]:
print(bos_scaled[['RM']])

           RM
0    0.413672
1    0.194274
2    1.282714
3    1.016303
4    1.228577
5    0.207096
6   -0.388411
7   -0.160466
8   -0.931206
9   -0.399808
10   0.131589
11  -0.392685
12  -0.563644
13  -0.478164
14  -0.268740
15  -0.642000
16  -0.498110
17  -0.419753
18  -1.180521
19  -0.794439
20  -1.018110
21  -0.455370
22  -0.203205
23  -0.671918
24  -0.513781
25  -0.976795
26  -0.671918
27  -0.338548
28   0.299699
29   0.554713
..        ...
476  0.284028
477 -1.397069
478 -0.141945
479 -0.079260
480 -0.060739
481  0.662987
482  1.106056
483 -0.744576
484 -0.589288
485  0.038987
486 -0.243096
487 -0.540849
488 -1.183370
489 -1.240357
490 -1.697672
491 -0.429726
492 -0.429726
493 -0.822932
494 -0.510932
495 -0.875644
496 -1.274549
497 -0.698987
498 -0.378438
499 -1.019535
500 -0.367041
501  0.439316
502 -0.234548
503  0.984960
504  0.725672
505 -0.362767

[506 rows x 1 columns]
[24.  21.6 34.7 33.4 36.2 28.7 22.9 27.1 16.5 18.9 15.  18.9 21.7 20.4
 18.2 19.9 23.1 17.5 20.2 18.2 13.6 19.6 15.2 14.5 15.6 13.9 16.6 14.8
 18.4 21.  12.7 14.5 13.2 13.1 13.5 18.9 20.  21.  24.7 30.8 34.9 26.6
 25.3 24.7 21.2 19.3 20.  16.6 14.4 19.4 19.7 20.5 25.  23.4 18.9 35.4
 24.7 31.6 23.3 19.6 18.7 16.  22.2 25.  33.  23.5 19.4 22.  17.4 20.9
 24.2 21.7 22.8 23.4 24.1 21.4 20.  20.8 21.2 20.3 28.  23.9 24.8 22.9
 23.9 26.6 22.5 22.2 23.6 28.7 22.6 22.  22.9 25.  20.6 28.4 21.4 38.7
 43.8 33.2 27.5 26.5 18.6 19.3 20.1 19.5 19.5 20.4 19.8 19.4 21.7 22.8
 18.8 18.7 18.5 18.3 21.2 19.2 20.4 19.3 22.  20.3 20.5 17.3 18.8 21.4
 15.7 16.2 18.  14.3 19.2 19.6 23.  18.4 15.6 18.1 17.4 17.1 13.3 17.8
 14.  14.4 13.4 15.6 11.8 13.8 15.6 14.6 17.8 15.4 21.5 19.6 15.3 19.4
 17.  15.6 13.1 41.3 24.3 23.3 27.  50.  50.  50.  22.7 25.  50.  23.8
 23.8 22.3 17.4 19.1 23.1 23.6 22.6 29.4 23.2 24.6 29.9 37.2 39.8 36.2
 37.9 32.5 26.4 29.6 50.  32.  29.8 34.9 37.  30.5 36.4 31.1 29.1 50.
 33.3 30.3 34.6 34.9 32.9 24.1 42.3 48.5 50.  22.6 24.4 22.5 24.4 20.
 21.7 19.3 22.4 28.1 23.7 25.  23.3 28.7 21.5 23.  26.7 21.7 27.5 30.1
 44.8 50.  37.6 31.6 46.7 31.5 24.3 31.7 41.7 48.3 29.  24.  25.1 31.5
 23.7 23.3 22.  20.1 22.2 23.7 17.6 18.5 24.3 20.5 24.5 26.2 24.4 24.8
 29.6 42.8 21.9 20.9 44.  50.  36.  30.1 33.8 43.1 48.8 31.  36.5 22.8
 30.7 50.  43.5 20.7 21.1 25.2 24.4 35.2 32.4 32.  33.2 33.1 29.1 35.1
 45.4 35.4 46.  50.  32.2 22.  20.1 23.2 22.3 24.8 28.5 37.3 27.9 23.9
 21.7 28.6 27.1 20.3 22.5 29.  24.8 22.  26.4 33.1 36.1 28.4 33.4 28.2
 22.8 20.3 16.1 22.1 19.4 21.6 23.8 16.2 17.8 19.8 23.1 21.  23.8 23.1
 20.4 18.5 25.  24.6 23.  22.2 19.3 22.6 19.8 17.1 19.4 22.2 20.7 21.1
 19.5 18.5 20.6 19.  18.7 32.7 16.5 23.9 31.2 17.5 17.2 23.1 24.5 26.6
 22.9 24.1 18.6 30.1 18.2 20.6 17.8 21.7 22.7 22.6 25.  19.9 20.8 16.8
 21.9 27.5 21.9 23.1 50.  50.  50.  50.  50.  13.8 13.8 15.  13.9 13.3
 13.1 10.2 10.4 10.9 11.3 12.3  8.8  7.2 10.5  7.4 10.2 11.5 15.1 23.2
  9.7 13.8 12.7 13.1 12.5  8.5  5.   6.3  5.6  7.2 12.1  8.3  8.5  5.
 11.9 27.9 17.2 27.5 15.  17.2 17.9 16.3  7.   7.2  7.5 10.4  8.8  8.4
 16.7 14.2 20.8 13.4 11.7  8.3 10.2 10.9 11.   9.5 14.5 14.1 16.1 14.3
 11.7 13.4  9.6  8.7  8.4 12.8 10.5 17.1 18.4 15.4 10.8 11.8 14.9 12.6
 14.1 13.  13.4 15.2 16.1 17.8 14.9 14.1 12.7 13.5 14.9 20.  16.4 17.7
 19.5 20.2 21.4 19.9 19.  19.1 19.1 20.1 19.9 19.6 23.2 29.8 13.8 13.3
 16.7 12.  14.6 21.4 23.  23.7 25.  21.8 20.6 21.2 19.1 20.6 15.2  7.
  8.1 13.6 20.1 21.8 24.5 23.1 19.7 18.3 21.2 17.5 16.8 22.4 20.6 23.9
 22.  11.9]

In [45]:
from sklearn.metrics import mean_squared_error

In [47]:
import seaborn as sns

In [48]:
from sklearn.model_selection import train_test_split

In [52]:
X_train,X_test, Y_train, Y_test = train_test_split(X,y)

In [63]:
## Setting alpha's that I'll loop throught to test
alphas = [.00001, .1, 1.0, 3.0, 10.0, 20.0, 40, 100, 10000]

X = boston_df[['RM','ZN','TAX']]
# assigning the thing I'm going to predict
y = boston.target
# split the data into test and training data
X_train,X_test, Y_train, Y_test = train_test_split(X,y)
# loop through each element in alphas list to create a ridge model
for alpha in alphas:
    ## Step 1: Instantiate the Ridge model.-- Create an empty bucket
    ridge = Ridge(alpha= alpha)
    ## Step 2. Fit the linear regression model
    ridge.fit(X_train,Y_train)
    ## Step 3. Make the predictions
    predictions = ridge.predict(X_test)
    ## Evaluate the predictions by calculating the Mean squared error
    mse = mean_squared_error(Y_test, predictions)
    # prints the results of each element in alphas
    print("The Mse for alpha {} is {}".format(alpha, mse))

The Mse for alpha 1e-05 is 29.3754723607
The Mse for alpha 0.1 is 29.3790935217
The Mse for alpha 1.0 is 29.4122253757
The Mse for alpha 3.0 is 29.4891733055
The Mse for alpha 10.0 is 29.7897875392
The Mse for alpha 20.0 is 30.2830435643
The Mse for alpha 40 is 31.3941337386
The Mse for alpha 100 is 34.8157736384
The Mse for alpha 10000 is 56.7165289331

In [ ]:
#k-folds cross validation splits the data multiple pieces

## Machine learning process

In [51]:
## Setting alpha's that I'll loop throught to test
alphas = [.00001, .1, 1.0, 3.0, 10.0, 20.0, 40, 100, 10000]

X = boston_df[['RM','ZN','TAX']]
# assigning the thing I'm going to predict
y = boston.target
# loop through each element in alphas list to create a ridge model
for alpha in alphas:
    ## Step 1: Instantiate the Ridge model.-- Create an empty bucket
    ridge = Ridge(alpha= alpha)
    ## Step 2. Fit the linear regression model
    ridge.fit(X,y)
    ## Step 3. Make the predictions
    predictions = ridge.predict(X)
    ## Evaluate the predictions by calculating the Mean squared error
    mse = mean_squared_error(boston.target, predictions)
    # prints the results of each element in alphas
    print("The Mse for alpha {} is {}".format(alpha, mse))

The Mse for alpha 1e-05 is 36.4812004244
The Mse for alpha 0.1 is 36.4812058789
The Mse for alpha 1.0 is 36.4817413332
The Mse for alpha 3.0 is 36.4859795357
The Mse for alpha 10.0 is 36.5310435941
The Mse for alpha 20.0 is 36.6639400643
The Mse for alpha 40 is 37.1018384542
The Mse for alpha 100 is 39.0217760019
The Mse for alpha 10000 is 60.5901918366